h3 {
  font-family: Arial;
}

body p {
  font-size: 16px;
  font-family: Verdana;
  color: blue;
}

dev {
  text-align: justify;
  blackground-color: blue;


}

dev ul li {
  text-decoration: underline;
  color:blue;
}

#top {
  align:center;
  border: 4px;
  border-radius:5px;
  width:80px;
  height:120px;
}

#left {
  float: left;
}

#right {
  float: right;
}

#footer {
  clear:both;
}
